
<section class="nav" id="nav">
    <a href="./homepage.html"><img src="./assets/img/logo.png" alt="Kochwelt Logo" class="header-img"></a>
    


    <nav class="hamburger-menu" id="hamburger-icon" onclick="openMenu()">
        <div class="hamburger-line"></div>
        <div class="hamburger-line"></div>
        <div class="hamburger-line"></div>
    </nav>

    <menu class="hamburger-links d-none" id="hamburger-field" onclick="closeMenu()">
        <a href="./homepage.html">Start</a>
        <a href="./recipe-of-the-day.html">Rezept des Tages</a>
        <a href="./contact.html">Kontakt</a>
        <a href="./imprint.html">Impressum</a>
    </menu>

    <nav class="nav-menu">
        <a class="nav-link" id="home-link" href="./homepage.html">Start</a>
        <a class="nav-link" id="recipe-link" href="./recipe-of-the-day.html">Rezept des Tages</a>
        <a class="nav-link" id="contact-link" href="./contact.html">Kontakt</a>
        <a class="nav-link" id="imprint-link" href="./imprint.html">Impressum</a>
    </nav>
</section>
