

<footer id="footer-body" class="footer">
    <div class="footer-container">
      <div class="footer-content">
        <h3>Schnelllinks</h3>
        <ul class="list">
          <li class="list-txt"><a href="homepage.html" >Start</a></li>
          <li class="list-txt"><a href="contact.html" target="_blank">Kontakt</a></li>
          <li class="list-txt"><a href="#" >Datenschutz</a></li>
          <li class="list-txt"><a href="imprint.html" target="_blank">Impressum</a></li>
        </ul>
      </div>
      <div class="footer-content">
        <h3>Folge uns</h3>
        <div class="socials">
          <a href="https://de-de.facebook.com/" target="_blank"
            ><img
              class="social-icons"
              src="./assets/img/facebook_white.png" 
              alt="Facebook Logo"
          /></a>
          <a href="https://www.instagram.com/" target="_blank"
            ><img
              class="social-icons"
              src="./assets/img/instagram_white.png" 
              alt="Instagram Logo"
          /></a>
          <a href="https://twitter.com/?lang=de" target="_blank"
            ><img
              class="social-icons"
              src="./assets/img/twitter_white.png" 
              alt="Twitter Logo"
          /></a>
        </div>
      </div>
    </div>
    <hr class="seperator" />
    <div class="bottom">
      <p>&copy; 2023 D4t3cK & QB . Alle Rechte vorbehalten</p>
    </div>
  </footer>
