<footer>

  <div class="footer-content">

    <div class="footer-links">
      <h3> Schnelllinks</h3>
      <ul class="list">
        <li class="list-txt">Start</li>
        <li class="list-txt">Kontakt</li>
        <li class="list-txt">Rezept des Tages</li>
        <li class="list-txt">Impressum</li>
      </ul>
    </div>
  
    <div class="footer-socials">
      <h3>Folge uns</h3>
      <div class="socials">
        <a href="#"
              ><img
                class="social-icons"
                src="./assets/img/facebook_white.png"
                alt="Facebook Logo"
            /></a>
            <a href="#"
              ><img
                class="social-icons"
                src="./assets/img/instagram_white.png"
                alt="Instagram Logo"
            /></a>
            <a href="#"
              ><img
                class="social-icons"
                src="./assets/img/twitter_white.png"
                alt="Twitter Logo"
            /></a>
      </div>
  
    </div>

  </div>

  
  <div class="bottom">
  
    <hr class="seperator">
    <p>&copy; 2023 D4t3cK . Alle Rechte vorbehalten</p>
  </div>
  
</footer>